@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: green;
    z-index: 9999;

    .logo {
        display: flex;
        align-items: center;
        gap: 7px;

        img {
            border-radius: 7px;
        }

        h3 {
            text-transform: capitalize;
        }
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        height: 100vh;
        text-transform: capitalize;
        position: fixed;
        top: 30px;
        left: -100%;
        margin: 20px 0;
        background-color: green;
        padding: 20px;
        transition: all .4s ease-in-out;
        opacity: 0;

        @include media('md') {
            position: static;
            display: flex;
            flex-direction: row;
            height: auto;
            width: auto;
            gap: 20px;
            padding: 0;
            margin: 0;
            opacity: 1;
        }

        &.active {
            left: 0;
            opacity: 1;
        }

        .link {
            width: 100%;
            text-align: end;

            @include media('md') {
                display: none;
            }

            button {
                background-color: black;
                border-radius: 5px;
                color: white;
                padding: 5px 10px;
                font-size: 15px;
                border: none;
                cursor: pointer;
            }
        }

        a {
            text-decoration: none;
            margin: 30px 0;
            color: white;
            font-size: 20px;
            font-family: $roboto;
            color: $button;


            @include media('md') {
                margin: 0;
            }


        }

        button {
            padding: 5px;
            margin-top: 20px;
            font-size: 17px;
            cursor: pointer;
            background-color: $button;

            @include media('md') {
                display: none;
            }

        }
    }

    .contact {
        display: none;

        @include media('md') {
            display: block;

            button {
                padding: 5px;
                background-color: black;
                color: coral;
                text-transform: capitalize;
            }
        }
    }

    .toggler {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        span {
            height: 3px;
            width: 25px;
            background-color: red;
            margin: 3px 0;
            border-radius: 2px;
        }

        @include media('md') {
            display: none;
        }
    }
}

.home {
    padding: 57px 10px 0;


    .outer {

        @include media('md') {
            display: flex;
            flex-wrap: wrap;
        }

        .inner {
            text-align: center;
            transition: 0.8s ease-in-out;
            opacity: 0;
            transform: translateY(0px);


            &.slow {
                opacity: 1;
                transform: translateY(0);
                transition: 0.8s ease-in-out;
            }

            @include media('md') {
                flex-basis: 50%;
            }

            img {
                width: 60%;
                height: 300px;
                object-fit: fill;
                border-radius: 10%;
                transition: 1.5s ease;

                @include media('md') {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }

        }

        .inner1 {
            text-align: center;

            @include media('md') {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: auto;
            }

            p {
                padding: 13px 7px;
                font-size: 20px;
            }

            h3 {
                text-transform: capitalize;
                color: green;
            }

            h2 {
                text-transform: uppercase;
                color: $button;
                font-size: 70px;
            }

        }
    }

}

.about {
    padding: 75px 10px 30px;
    transition: all 1s ease-out;

    @include media('md') {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .about1 {
        flex-basis: 60%;

        opacity: 0;
        transform: translateX(40px);


        &.slow {
            opacity: 1;
            transform: translateX(0);
            transition: 0.8s ease-in-out;
        }

        h1 {
            text-align: center;
            color: aqua;
        }

        .line1 {
            width: 40%;
            margin: 5px auto;
            border: 2px solid black;

            @include media('md') {
                width: 15%;
            }
        }

        .line2 {
            width: 30%;
            margin: 5px auto;

            @include media('md') {
                width: 10%;
            }

        }

        .aboutme {
            transform: all 0.9s ease;
            line-height: 1.6;
            text-align: justify;
            font-size: 19px;
            hyphens: auto;
            overflow-wrap: break-word;
            padding: 15px;
            font-family: 'Times New Roman', Times, serif;

        }

        .icon {
            padding: 15px;

            button {
                padding: 10px;
                font-size: 17px;
                background-color: green;
                border: 1px solid green;
                cursor: pointer;
                color: white;
                letter-spacing: 1px;
                transition: .4s ease;

                &:hover {
                    background-color: white;
                    color: aquamarine;
                }

            }
        }
    }

    .about2 {
        display: none;

        opacity: 0;
        transform: translateY(40px);


        &.slow {
            opacity: 1;
            transform: translateY(0);
            transition: 0.8s ease-in-out;
        }

        @include media('md') {
            display: block;
            flex-basis: 40%;
            text-align: center;


            img {
                width: 80%;
                height: 300px;
                border-radius: 20px;
                box-shadow: 0px 0px 5px aqua;
                transition: all .2s ease-in;

            }
        }

    }
}

.chat {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: -100%;
    opacity: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    z-index: 999;
    transition: all 0.7s ease-in;

    &.open {
        backdrop-filter: blur(15px);
        right: 0;
        opacity: 1;
    }

    .outside {
        padding: 20px;
        width: 65%;
        height: 43%;
        background-color: chocolate;
        margin-right: 20px;
        margin-bottom: 20px;
        position: relative;

        @include media('sm') {
            width: 50%;
            height: 45%;
        }

        @include media('md') {
            width: 25%;
        }

        .head {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            h2 {
                color: aqua;
            }

            button {
                padding: 0px 10px;
                font-size: 17px;
                border: 1px solid white;
                border-radius: 5px;
                background-color: black;
                color: white;
                cursor: pointer;

            }
        }

        input {
            width: 100%;
            height: 30px;
            outline: none;
            border: none;
            padding: 10px;
            background-color: black;
            margin-bottom: 15px;
            text-transform: capitalize;
            color: white;

        }

        textarea {
            width: 100%;
            height: 50%;
            padding: 7px;
            outline: none;
            background-color: black;
            margin-bottom: 10px;
            border: none;
            max-width: 100%;
            max-height: 115px;
            color: white;
            text-transform: capitalize;


        }

        .send {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);

            button {
                padding: 7px 15px;
                font-size: 1rem;
                cursor: pointer;
                color: aquamarine;
                text-transform: uppercase;
                background-color: black;
                border: none;
            }
        }

    }

}

.pop-up {
    position: fixed;
    top: 15%;
    left: -100%;
    display: block;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.4s ease-in;
    z-index: 1000;
    padding: 10px 30px;
    text-align: center;
    letter-spacing: 1px;
    background-color: lemonchiffon;
    text-transform: capitalize;
    font-size: 20px;
    color: black;
    box-shadow: 0px 0px 10px grey;


    @include media('md') {
        width: 50%;
    }

    &.success {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }

}

.skills {
    padding: 60px 0;
    transition: all 1s ease-out;


    h1 {
        text-align: center;
        color: aqua;
    }

    .line1 {
        width: 40%;
        margin: 5px auto;
        border: 2px solid black;

        @include media('md') {
            width: 20%;

        }
    }

    .line2 {
        width: 30%;
        margin: 5px auto;

        @include media('md') {
            width: 15%;
        }
    }

    .equal {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .inner {
            flex-basis: 50%;
            margin: 0 auto;
            padding: 8px;
            opacity: 0;
            transform: translateY(-40px);
            transition: all 0.8s ease-in-out;

            &.slow {
                opacity: 1;
                transform: translateY(0);
                transition: 0.8s ease-in-out;
            }

            @include media('md') {
                flex-basis: 25%;
                height: 200px;
                padding: 20px 20px 40px 20px;

                &:hover {

                    img {
                        transform: scale(1.05);
                    }

                    p {
                        opacity: 1;
                        margin-top: 2px;
                    }
                }

            }

            img {
                border-radius: 20px;
                width: 100%;
                height: 150px;
                object-fit: fill;
                box-shadow: 0px 0px 5px aqua;
                transition: all .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }

            }

            p {
                display: none;

                @include media('md') {
                    display: block;
                    text-align: center;
                    margin-top: -40px;
                    opacity: 0;
                    line-height: 1;
                    font-size: 23px;
                    font-family: Protest Guerrilla;
                    transition: all 0.4s ease;

                }
            }

        }
    }
}

#button {

    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 3px 7px;
    border: 1px solid palegreen;
    background-color: green;
    transition: .20s ease-out;
    cursor: pointer;
    color: white;
    border-radius: 50%;

    i {
        font-size: 25px;
    }
}