@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: green;
  z-index: 9999;
}
.navbar .logo {
  display: flex;
  align-items: center;
  gap: 7px;
}
.navbar .logo img {
  border-radius: 7px;
}
.navbar .logo h3 {
  text-transform: capitalize;
}
.navbar .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100vh;
  text-transform: capitalize;
  position: fixed;
  top: 30px;
  left: -100%;
  margin: 20px 0;
  background-color: green;
  padding: 20px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
@media (min-width: 768px) {
  .navbar .nav-links {
    position: static;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 20px;
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}
.navbar .nav-links.active {
  left: 0;
  opacity: 1;
}
.navbar .nav-links .link {
  width: 100%;
  text-align: end;
}
@media (min-width: 1024px) {
  .navbar .nav-links .link {
    display: none;
  }
}
.navbar .nav-links .link button {
  background-color: black;
  border-radius: 5px;
  height: 33px;
  cursor: pointer;
  width: 30px;
  color: white;
}
.navbar .nav-links a {
  text-decoration: none;
  margin: 30px 0;
  color: white;
  font-size: 20px;
  font-family: "Roboto";
  color: rgb(205, 133, 133);
}
@media (min-width: 768px) {
  .navbar .nav-links a {
    margin: 0;
  }
}
.navbar .nav-links button {
  padding: 5px;
  margin-top: 20px;
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(205, 133, 133);
}
@media (min-width: 768px) {
  .navbar .nav-links button {
    display: none;
  }
}
.navbar .contact {
  display: none;
}
@media (min-width: 768px) {
  .navbar .contact {
    display: block;
  }
  .navbar .contact button {
    padding: 5px;
    background-color: black;
    color: coral;
    text-transform: capitalize;
  }
}
.navbar .toggler {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.navbar .toggler span {
  height: 3px;
  width: 25px;
  background-color: red;
  margin: 3px 0;
  border-radius: 2px;
}
@media (min-width: 768px) {
  .navbar .toggler {
    display: none;
  }
}

.home {
  padding: 70px 10px 0;
}
@media (min-width: 768px) {
  .home .outer {
    display: flex;
    flex-wrap: wrap;
  }
}
.home .outer .inner {
  text-align: center;
  transition: 0.8s ease-in-out;
  opacity: 0;
  transform: translateY(0px);
}
.home .outer .inner.slow {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s ease-in-out;
}
@media (min-width: 768px) {
  .home .outer .inner {
    flex-basis: 50%;
  }
}
.home .outer .inner img {
  width: 80%;
  height: 300px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 35px;
  transition: 1.5s ease;
}
@media (min-width: 768px) {
  .home .outer .inner img {
    width: 100%;
    height: auto;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
.home .outer .inner1 {
  text-align: center;
}
@media (min-width: 768px) {
  .home .outer .inner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
.home .outer .inner1 p {
  padding: 13px 7px;
  font-size: 20px;
}
.home .outer .inner1 h3 {
  text-transform: capitalize;
  color: green;
}
.home .outer .inner1 h2 {
  text-transform: uppercase;
  color: rgb(205, 133, 133);
  font-size: 70px;
}

.about {
  padding: 75px 0 30px;
  transition: all 1s ease-out;
}
@media (min-width: 768px) {
  .about {
    display: flex;
    flex-wrap: wrap;
  }
}
.about .about1 {
  flex-basis: 60%;
  opacity: 0;
  transform: translateX(40px);
}
.about .about1.slow {
  opacity: 1;
  transform: translateX(0);
  transition: 0.8s ease-in-out;
}
.about .about1 h1 {
  text-align: center;
  color: aqua;
}
.about .about1 .line1 {
  width: 40%;
  margin: 5px auto;
  border: 2px solid black;
}
@media (min-width: 768px) {
  .about .about1 .line1 {
    width: 15%;
  }
}
.about .about1 .line2 {
  width: 30%;
  margin: 5px auto;
}
@media (min-width: 768px) {
  .about .about1 .line2 {
    width: 10%;
  }
}
.about .about1 .aboutme {
  transform: all 0.9s ease;
  line-height: 1.6;
  text-align: justify;
  font-size: 19px;
  -webkit-hyphens: auto;
          hyphens: auto;
  overflow-wrap: break-word;
  padding: 15px;
  font-family: "Times New Roman", Times, serif;
}
.about .about1 .icon {
  padding: 15px;
}
.about .about1 .icon button {
  padding: 10px;
  font-size: 17px;
  background-color: green;
  border: 1px solid green;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  transition: 0.4s ease;
}
.about .about1 .icon button:hover {
  background-color: white;
  color: aquamarine;
}
.about .about2 {
  display: none;
  opacity: 0;
  transform: translateY(40px);
}
.about .about2.slow {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s ease-in-out;
}
@media (min-width: 768px) {
  .about .about2 {
    display: block;
    flex-basis: 35%;
    margin: auto;
  }
  .about .about2 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px aqua;
    transition: all 0.2s ease-in;
  }
}

.chat {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  right: -100%;
  opacity: 0;
  display: flex;
  justify-content: end;
  align-items: end;
  z-index: 999;
  transition: all 0.7s ease-in;
}
.chat.open {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  right: 0;
  opacity: 1;
}
.chat .outside {
  padding: 20px;
  width: 65%;
  height: 43%;
  background-color: chocolate;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (min-width: 400px) {
  .chat .outside {
    width: 50%;
    height: 45%;
  }
}
@media (min-width: 768px) {
  .chat .outside {
    width: 25%;
  }
}
.chat .outside .head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.chat .outside .head h2 {
  color: aqua;
}
.chat .outside .head button {
  padding: 5px;
  width: 25px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.chat .outside input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: black;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: white;
}
.chat .outside textarea {
  width: 100%;
  height: 50%;
  padding: 7px;
  outline: none;
  background-color: black;
  margin-bottom: 10px;
  border: none;
  max-width: 100%;
  max-height: 115px;
  color: white;
  text-transform: capitalize;
}
.chat .outside .send {
  display: flex;
  justify-content: center;
}
.chat .outside .send button {
  padding: 7px 15px;
  font-size: 1rem;
  cursor: pointer;
  color: aquamarine;
  text-transform: uppercase;
  background-color: black;
  border: none;
}

.pop-up .pop-msg {
  position: fixed;
  top: 15%;
  width: 95%;
  left: -100%;
  opacity: 0;
  padding: 10px 30px;
  margin: 0 15px;
  text-align: center;
  background-color: lemonchiffon;
  font-size: 1.5rem;
  transition: all 0.4s ease-in;
  text-transform: capitalize;
  z-index: 1000;
}
.pop-up .pop-msg.success {
  left: 0;
  opacity: 1;
}

.skills {
  padding: 60px 0;
  transition: all 1s ease-out;
}
.skills h1 {
  text-align: center;
  color: aqua;
}
.skills .line1 {
  width: 40%;
  margin: 5px auto;
  border: 2px solid black;
}
@media (min-width: 768px) {
  .skills .line1 {
    width: 20%;
  }
}
.skills .line2 {
  width: 30%;
  margin: 5px auto;
}
@media (min-width: 768px) {
  .skills .line2 {
    width: 15%;
  }
}
.skills .equal {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills .equal .inner {
  flex-basis: 50%;
  margin: 0 auto;
  padding: 8px;
  opacity: 0;
  transform: translateY(-40px);
  transition: all 0.8s ease-in-out;
}
.skills .equal .inner.slow {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s ease-in-out;
}
@media (min-width: 768px) {
  .skills .equal .inner {
    flex-basis: 25%;
    height: 200px;
    padding: 20px 20px 40px 20px;
  }
  .skills .equal .inner:hover img {
    transform: scale(1.05);
  }
  .skills .equal .inner:hover p {
    opacity: 1;
    margin-top: 2px;
  }
}
.skills .equal .inner img {
  border-radius: 20px;
  width: 100%;
  height: 150px;
  -o-object-fit: fill;
     object-fit: fill;
  box-shadow: 0px 0px 5px aqua;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.skills .equal .inner img:hover {
  transform: scale(1.05);
}
.skills .equal .inner p {
  display: none;
}
@media (min-width: 768px) {
  .skills .equal .inner p {
    display: block;
    text-align: center;
    margin-top: -40px;
    opacity: 0;
    line-height: 1;
    font-size: 23px;
    font-family: Protest Guerrilla;
    transition: all 0.4s ease;
  }
}

#button {
  position: fixed;
  right: 15px;
  bottom: 15px;
  padding: 3px 7px;
  border: 1px solid palegreen;
  background-color: green;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: white;
  border-radius: 50%;
}
#button i {
  font-size: 25px;
}/*# sourceMappingURL=styles.css.map */